USE [master]
GO
/****** Object:  Database [cms_py]    Script Date: 27/07/2015 17:39:27 ******/
CREATE DATABASE [cms_py]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'cms_py', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\cms_py.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'cms_py_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\cms_py_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [cms_py].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [cms_py]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 27/07/2015 17:39:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Description] [nvarchar](150) NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ImgProduct]    Script Date: 27/07/2015 17:39:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ImgProduct](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NULL,
	[Image] [varbinary](max) NULL,
	[IdProduct] [int] NULL,
 CONSTRAINT [PK_ImgProduct] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[products]    Script Date: 27/07/2015 17:39:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[products](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Description] [nvarchar](250) NULL,
	[Codigo] [nvarchar](250) NULL,
	[IdCategory] [int] NULL,
 CONSTRAINT [PK_products] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([Id], [Description]) VALUES (1, N'NVRs')
SET IDENTITY_INSERT [dbo].[Category] OFF
SET IDENTITY_INSERT [dbo].[ImgProduct] ON 

SET IDENTITY_INSERT [dbo].[ImgProduct] OFF
SET IDENTITY_INSERT [dbo].[products] ON 

INSERT [dbo].[products] ([Id], [Description], [Codigo], [IdCategory]) VALUES (1, N'511', N'511', 1)
INSERT [dbo].[products] ([Id], [Description], [Codigo], [IdCategory]) VALUES (2, N'visionic', N'102', NULL)
INSERT [dbo].[products] ([Id], [Description], [Codigo], [IdCategory]) VALUES (3, N'visionic', N'1202', NULL)
SET IDENTITY_INSERT [dbo].[products] OFF
ALTER TABLE [dbo].[ImgProduct]  WITH CHECK ADD  CONSTRAINT [FK_ImgProduct_products] FOREIGN KEY([IdProduct])
REFERENCES [dbo].[products] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ImgProduct] CHECK CONSTRAINT [FK_ImgProduct_products]
GO
ALTER TABLE [dbo].[products]  WITH CHECK ADD  CONSTRAINT [FK_products_Category] FOREIGN KEY([IdCategory])
REFERENCES [dbo].[Category] ([Id])
GO
ALTER TABLE [dbo].[products] CHECK CONSTRAINT [FK_products_Category]
GO
USE [master]
GO
