<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://provisionpy.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>provisionpy.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>provisionpy</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$provisionpy</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="cms_pyEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:fbmc00awbe.database.windows.net,1433;Initial Catalog=provisionpy_db;User ID=proviosiondb@fbmc00awbe;Password=lalunayelsol26$" Name="Data Source=tcp:fbmc00awbe.database.windows.net,1433;Initial Catalog=provisionpy_db;User Id=proviosiondb@fbmc00awbe;Password=lalunayelsol26$" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="cms_prov.cms_pyEntities, cms_prov" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:fbmc00awbe.database.windows.net,1433;Initial Catalog=provisionpy_db;User ID=proviosiondb@fbmc00awbe;Password=lalunayelsol26$" Name="Data Source=tcp:fbmc00awbe.database.windows.net,1433;Initial Catalog=provisionpy_db;User Id=proviosiondb@fbmc00awbe;Password=lalunayelsol26$" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="cms_prov.Models.ApplicationDbContext, cms_prov" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)cms_pyEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/cmspy.csdl|res://*/cmspy.ssdl|res://*/cmspy.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:fbmc00awbe.database.windows.net,1433;Initial Catalog=provisionpy_db;User Id=proviosiondb@fbmc00awbe;Password=lalunayelsol26$"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:fbmc00awbe.database.windows.net,1433;Initial Catalog=provisionpy_db;User Id=proviosiondb@fbmc00awbe;Password=lalunayelsol26$</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>