@model System.Collections.Generic.IEnumerable<cms_prov.Models.ItemModel>
@{
    ViewBag.Title = "Home Page";
}

<section id="slider-wrapper" class="layer-slider-wrapper">
    <div id="layerslider" style="width:100%;height:500px;">
        <div class="ls-slide" data-ls="transition2d:1;timeshift:-1000;">
            <!-- slide background -->
            <img src="Images/fw-1.jpg" class="ls-bg" alt="Slide background" />

            <!-- Right Image -->
            <img src="~/Images/20852816-6959-f6580ba5 (1).jpg" class="ls-l" style="top:58%; left:70%;" data-ls="offsetxin:0;offsetyin:250;durationin:950;offsetxout:0;offsetyout:-8;easingout:easeInOutQuart;scalexout:1.2;scaleyout:1.2;" alt="Image layer">

            <!-- Left Text -->
            <h3 class="ls-l title title-sm strong" style="width:500px; top:25%; left:80px;" data-ls="offsetxin:0;offsetyin:250;durationin:1000;delayin:500;offsetxout:0;offsetyout:-8;easingout:easeInOutQuart;scalexout:1.2;scaleyout:1.2;">Let your imagination run wild with Boomerang</h3>
            <h3 class="ls-l subtitle strong-400" style="top:40%; left:80px;" data-ls="offsetxin:0;offsetyin:250;durationin:1000;delayin:1500;offsetxout:0;offsetyout:-8;easingout:easeInOutQuart;scalexout:1.2;scaleyout:1.2;">One template. Infinite solutions</h3>
            <p class="ls-l text-standard" style="width:500px; top:55%; left:80px;" data-ls="offsetxin:0;offsetyin:250;durationin:1000;delayin:2500;offsetxout:0;offsetyout:-8;easingout:easeInOutQuart;scalexout:1.2;scaleyout:1.2;">
                Boomerang is a multi-purpose business template loaded with shortcodes and many features that can be perfectly adapted for any idea.
                Get now the fully updated and ready to run template that will ease you work in no time.
            </p>
            <a href="https://wrapbootstrap.com/theme/boomerang-multipurpose-template-WB021609D" class="btn btn-base btn-lg ls-l" style="top:75%; left:80px;" data-ls="offsetxin:0;offsetyin:250;durationin:1000;delayin:3500;offsetxout:0;offsetyout:-8;easingout:easeInOutQuart;scalexout:1.2;scaleyout:1.2;" target="_blank">Purchase Boomerang</a>
        </div>

        <div class="ls-slide" data-ls="transition2d:1;timeshift:-1000;">
            <!-- slide background -->
            <img src="Images/fw-1.jpg" class="ls-bg" alt="Slide background" />

            <!-- Right Image -->
            <img src="~/Images/I3-380IP04_a-500x500.png" class="ls-l" style="top:48%; left:70%;" data-ls="offsetxin:0;offsetyin:250;durationin:950;offsetxout:0;offsetyout:-8;easingout:easeInOutQuart;scalexout:1.2;scaleyout:1.2;" alt="Image layer">

            <!-- Left Text -->
            <h3 class="ls-l title" style="width:500px; top:15%; left:80px;" data-ls="offsetxin:0;offsetyin:250;durationin:1000;delayin:500;offsetxout:0;offsetyout:-8;easingout:easeInOutQuart;scalexout:1.2;scaleyout:1.2;">Boomerang. New update</h3>
            <h3 class="ls-l list-item" style="top:28%; left:80px;" data-ls="offsetxin: left; rotatein: 90;durationin:1000;delayin:1500;offsetxout:0;offsetyout:-8;easingout:easeInOutQuart;scalexout:1.2;scaleyout:1.2;">
                <i class="fa fa-check-circle-o"></i> New features available
            </h3>
            <h3 class="ls-l list-item" style="top:35%; left:80px;" data-ls="offsetxin: left; rotatein: 90;durationin:1000;durationin:1000;delayin:2000;offsetxout:0;offsetyout:-8;easingout:easeInOutQuart;scalexout:1.2;scaleyout:1.2;">
                <i class="fa fa-check-circle-o"></i> New sliders. Check'em out
            </h3>
            <h3 class="ls-l list-item" style="top:42%; left:80px;" data-ls="offsetxin: left; rotatein: 90;durationin:1000;durationin:1000;delayin:2500;offsetxout:0;offsetyout:-8;easingout:easeInOutQuart;scalexout:1.2;scaleyout:1.2;">
                <i class="fa fa-check-circle-o"></i> New header and navigation styles
            </h3>
            <h3 class="ls-l list-item" style="top:49%; left:80px;" data-ls="offsetxin: left; rotatein: 90;durationin:1000;durationin:1000;delayin:3000;offsetxout:0;offsetyout:-8;easingout:easeInOutQuart;scalexout:1.2;scaleyout:1.2;">
                <i class="fa fa-check-circle-o"></i> Full documentation. Customization made easier
            </h3>
            <p class="ls-l text-standard" style="width:500px; top:65%; left:80px;" data-ls="offsetxin:0;offsetyin:250;durationin:1000;delayin:3500;offsetxout:0;offsetyout:-8;easingout:easeInOutQuart;scalexout:1.2;scaleyout:1.2;">
                Boomerang is a multi-purpose business template loaded with shortcodes and many features that can be perfectly adapted for any idea.
                Get now the fully updated and ready to run template that will ease you work in no time.
            </p>
            <a href="https://wrapbootstrap.com/theme/boomerang-multipurpose-template-WB021609D" class="btn btn-base btn-lg ls-l" style="top:84%; left:80px;" data-ls="offsetxin:0;offsetyin:250;durationin:1000;delayin:4000;offsetxout:0;offsetyout:-8;easingout:easeInOutQuart;scalexout:1.2;scaleyout:1.2;" target="_blank">Learn more</a>
        </div>
    </div>
</section>



<section class="slice base p-15">
    <div class="cta-wr">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <h1>
                        Vea todas las opciones que dispone para su seguridad!
                    </h1>
                </div>
                <div class="col-md-3">
                    <div class="btn btn-lg btn-b-white btn-icon btn-cart pull-right">

                        <span>@Html.ActionLink("Visita la Tienda", "Productos", "Home")</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<section class="slice bg-white bb">
    <div class="wp-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="wp-block inverse text-center">
                        <div class="thmb-img">
                            <i class="fa fa-lightbulb-o"></i>
                        </div>

                        <h2>Seguridad</h2>
                        <p class="">Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris.</p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="wp-block inverse text-center">
                        <div class="thmb-img">
                            <i class="fa fa-keyboard-o"></i>
                        </div>

                        <h2>Movil</h2>
                        <p class="">Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris.</p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="wp-block inverse text-center">
                        <div class="thmb-img">
                            <i class="fa fa-code"></i>
                        </div>

                        <h2>Calidad HD</h2>
                        <p class="">Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris.</p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="wp-block inverse text-center">
                        <div class="thmb-img">
                            <i class="fa fa-rocket"></i>
                        </div>

                        <h2>Monitoreo</h2>
                        <p class="">Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris.</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>


@*PORFOLIO*@

<section class="slice relative bg-white bb animate-hover-slide">
    <div class="wp-section">
        <div class="container">

            <div class="section-title-wr">
                <h3 class="section-title left"><span>Recomendados</span></h3>
            </div>

            <div id="carouselWork" class="carousel carousel-3 slide animate-hover-slide">
                <div class="carousel-nav">
                    <a data-slide="prev" class="left" href="#carouselWork"><i class="fa fa-angle-left"></i></a>
                    <a data-slide="next" class="right" href="#carouselWork"><i class="fa fa-angle-right"></i></a>
                </div>
            </div>
            <!-- Wrapper for slides -->
            <div class="carousel-inner">

                <div class="item active">

                    <div class="row">
                        @*@foreach (var item in Model)
                        {
                            <div class="carousel-inner">

                                <div class="item active">

                                    <div class="row">

                                    <div class="col-md-3">
                                        <div class="wp-block inverse">
                                            <div class="figure">
                                                <img alt="" src="data:image/png;base64,@Convert.ToBase64String(item.Imagen, 0, item.Imagen.Length)" class="img-responsive">
                                                <div class="figcaption bg-base"></div>
                                                <div class="figcaption-btn">
                                                    <a href="data:image/png;base64,@Convert.ToBase64String(item.Imagen, 0, item.Imagen.Length)" class="btn btn-xs btn-b-white theater"><i class="fa fa-plus-circle"></i> Zoom</a>
                                                    <a href="#" class="btn btn-xs btn-b-white"><i class="fa fa-link"></i> View</a>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-9">
                                                    <h2 class="text-left">Bootstrap template</h2>
                                                    <small>Brand creation</small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    @*</div>

                                </div>
                            </div>
                        }*@






                        <div class="col-md-3">
                            <div class="wp-block inverse">
                                <div class="figure">
                                    <img alt="" src="~/Images/DAI-380IP04_a-400x400.png" class="img-responsive">
                                    <div class="figcaption bg-base"></div>
                                    <div class="figcaption-btn">
                                        <a href="~/Images/DAI-380IP04_a-400x400.png" class="btn btn-xs btn-b-white theater"><i class="fa fa-plus-circle"></i> Zoom</a>
                                        <a href="#" class="btn btn-xs btn-b-white"><i class="fa fa-link"></i> View</a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-9">
                                        <h2>Bootstrap template</h2>
                                        <small>Brand creation</small>
                                    </div>
                                    <div class="col-xs-3">
                                        <div class="like-button">
                                            <span class="button">
                                                <i class="fa fa-heart"></i>
                                            </span>
                                            <span class="count"><small>123</small></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="wp-block inverse">
                                <div class="figure">
                                    <img alt="" src="~/Images/DAI-380IP04_a-400x400.png" class="img-responsive">
                                    <div class="figcaption bg-base"></div>
                                    <div class="figcaption-btn">
                                        <a href="~/Images/DAI-380IP04_a-400x400.png" class="btn btn-xs btn-b-white theater"><i class="fa fa-plus-circle"></i> Zoom</a>
                                        <a href="#" class="btn btn-xs btn-b-white"><i class="fa fa-link"></i> View</a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-9">
                                        <h2>Bootstrap template</h2>
                                        <small>Brand creation</small>
                                    </div>
                                    <div class="col-xs-3">
                                        <div class="like-button">
                                            <span class="button liked">
                                                <i class="fa fa-heart"></i>
                                            </span>
                                            <span class="count"><small>123</small></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="wp-block inverse">
                                <div class="figure">
                                    <img alt="" src="~/Images/DAI-380IP04_a-400x400.png" class="img-responsive">
                                    <div class="figcaption bg-base"></div>
                                    <div class="figcaption-btn">
                                        <a href="~/Images/DAI-380IP04_a-400x400.png" class="btn btn-xs btn-b-white theater"><i class="fa fa-plus-circle"></i> Zoom</a>
                                        <a href="#" class="btn btn-xs btn-b-white"><i class="fa fa-link"></i> View</a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-9">
                                        <h2>Bootstrap template</h2>
                                        <small>Brand creation</small>
                                    </div>
                                    <div class="col-xs-3">
                                        <div class="like-button">
                                            <span class="button">
                                                <i class="fa fa-heart"></i>
                                            </span>
                                            <span class="count"><small>123</small></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="wp-block inverse">
                                <div class="figure">
                                    <img alt="" src="~/Images/DAI-380IP04_a-400x400.png" class="img-responsive">
                                    <div class="figcaption bg-base"></div>
                                    <div class="figcaption-btn">
                                        <a href="~/Images/DAI-380IP04_a-400x400.png" class="btn btn-xs btn-b-white theater"><i class="fa fa-plus-circle"></i> Zoom</a>
                                        <a href="#" class="btn btn-xs btn-b-white"><i class="fa fa-link"></i> View</a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-9">
                                        <h2>Bootstrap template</h2>
                                        <small>Brand creation</small>
                                    </div>
                                    <div class="col-xs-3">
                                        <div class="like-button">
                                            <span class="button">
                                                <i class="fa fa-heart"></i>
                                            </span>
                                            <span class="count"><small>123</small></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="wp-block inverse">
                                <div class="figure">
                                    <img alt="" src="~/Images/DAI-380IP04_a-400x400.png" class="img-responsive">
                                    <div class="figcaption bg-base"></div>
                                    <div class="figcaption-btn">
                                        <a href="~/Images/DAI-380IP04_a-400x400.png" class="btn btn-xs btn-b-white theater"><i class="fa fa-plus-circle"></i> Zoom</a>
                                        <a href="#" class="btn btn-xs btn-b-white"><i class="fa fa-link"></i> View</a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-9">
                                        <h2>Bootstrap template</h2>
                                        <small>Brand creation</small>
                                    </div>
                                    <div class="col-xs-3">
                                        <div class="like-button">
                                            <span class="button">
                                                <i class="fa fa-heart"></i>
                                            </span>
                                            <span class="count"><small>123</small></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="wp-block inverse">
                                <div class="figure">
                                    <img alt="" src="~/Images/DAI-380IP04_a-400x400.png" class="img-responsive">
                                    <div class="figcaption bg-base"></div>
                                    <div class="figcaption-btn">
                                        <a href="~/Images/DAI-380IP04_a-400x400.png" class="btn btn-xs btn-b-white theater"><i class="fa fa-plus-circle"></i> Zoom</a>
                                        <a href="#" class="btn btn-xs btn-b-white"><i class="fa fa-link"></i> View</a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-9">
                                        <h2>Bootstrap template</h2>
                                        <small>Brand creation</small>
                                    </div>
                                    <div class="col-xs-3">
                                        <div class="like-button">
                                            <span class="button">
                                                <i class="fa fa-heart"></i>
                                            </span>
                                            <span class="count"><small>123</small></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="wp-block inverse">
                                <div class="figure">
                                    <img alt="" src="Images/DAI-380IP04_a-400x400.png" class="img-responsive">
                                    <div class="figcaption bg-base"></div>
                                    <div class="figcaption-btn">
                                        <a href="~Images/DAI-380IP04_a-400x400.png" class="btn btn-xs btn-b-white theater"><i class="fa fa-plus-circle"></i> Zoom</a>
                                        <a href="#" class="btn btn-xs btn-b-white"><i class="fa fa-link"></i> View</a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-9">
                                        <h2>Bootstrap template</h2>
                                        <small>Brand creation</small>
                                    </div>
                                    <div class="col-xs-3">
                                        <div class="like-button">
                                            <span class="button">
                                                <i class="fa fa-heart"></i>
                                            </span>
                                            <span class="count"><small>123</small></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>

                @*</div>*@

                </div>
                </div>
</section>